:root{
    --font-content:'Times New Roman', Times, serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
/*Nav-Bar*/
.navbar{
    justify-content: baseline;
    font-family: var(--font-content);
    z-index: 1000;
    top: 0 ;
    padding: 0px 70px 0px 70px;
}
.navbar-brand{
    font-size: 2.25rem;
    font-weight: 400;
}
.rounded-bottom {
    border-bottom-right-radius: 2.25rem!important;
    border-bottom-left-radius: 2.25rem!important;
}

/*Barra de pesquisa*/
input[type="text"] {
    width: 350px;
    height: 60px;
    color: #fff;
    padding: 15px;
    background-color: #821b1b;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 35px;
    margin-top: 25px;
}
input[type="text"]:focus{
    width: 500px;
    transition: 0.5s;
}
input::placeholder{
    color: #fff;
}
.search{
    display: flex;
    justify-content: center;
    margin: 15px;
}
/*Livros*/
#livros{
    margin-top: 200px ;
}
.item-book{
    margin:15px;
    width: 400px;
    height: 600px;
    border: 5px solid #821b1b;
    border-radius: 15px;
    cursor: pointer;
}
li.hidden {
    transform: translate(0.5,0.5);
    display: none;     
}
.title-invisible{
    font-size: 1px;
    color: transparent;
}

/*animação*/
[data-anime]{
    opacity: 0;
    transition: 1s;
  }
  [data-anime="down"]{
    transform: translate3d(0,-100px,0);
  }
  [data-anime="up"]{
    transform: translate3d(0,100px,0);
  }
  [data-anime="left"]{
    transform: translate3d(-100%,0x,0);
  }
  
  [data-anime="right"]{
    transform: translate3d(50px,0,0);
  }
  [data-anime].animate{
    opacity: 1;
    transform: translate3d(0,0,0);
  }